.cart_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid orange;
  border-left: 0.5rem solid orange;
  border-radius: 6px;
  padding: 1rem;
  margin-inline: auto;
  width: clamp(70vw, 600px, 95%);
}

.cart_item > div {
  flex-basis: 50%;
}

.item_img {
  height: 250px;
  width: auto;
  object-fit: cover;
}
