@value lightest from 'global.css';

.feature {
  position: relative;
  background-size: cover;
  background-position: center, center;
  height: 250px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 5rem;
}

.games {
  background-image: url(../assets/ssb.jpeg);
}

.acce {
  background-image: url(../assets/acce.webp);
}

.feature h1 {
  position: relative;
  color: lightest;
  font-size: clamp(3rem, 6vw + 1.5rem, 5rem);
  line-height: 0.9;
}

.games::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 33, 26, 0.6);
  transition: all 0.5s;
}

.acce::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(26, 76, 255, 0.6);
  transition: all 0.5s;
}

.games:hover::before {
  background-color: rgba(255, 33, 26, 0.3);
}

.acce:hover::before {
  background-color: rgba(26, 76, 255, 0.3);
}
