.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  padding: 0.7rem 0;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  background: -webkit-linear-gradient(
    rgb(0, 0, 0),
    rgb(4, 0, 89),
    rgb(4, 100, 200),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: aliceblue;
  /* display: flex;
  justify-content: space-between; */
}

.link {
  padding: 1rem;
}

.active {
  text-decoration: underline;
}

.showLinks {
  display: flex;
}

.hideLinks {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    padding: 0;
  }
  .burger {
    display: none;
  }
  .links {
    position: relative;
    width: unset;
    height: unset;
    top: unset;
    right: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
